
.maincontent {
    &__link {
        display: flex;
    }

    &__logo {
        position: absolute;
        opacity: 0;
    }
    
    &__banner {
        @include content_general_centrify;
        flex-direction: column;

        background-image: url("/src/images/Backgrounds/banner-background.png");
        background-position: center;
        background-size: cover;
    }

    &__uppermenu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 0px) {
            padding: 31px 4.7%;
            background: #27262A;
        }

        @media (min-width: 768px) {
            padding: 21px 4.7%;
        }

        @media (min-width: 1200px) {
            background: #010005;
            padding: 30px 7.5%;
        }
    }

    &__navmenu {
        @media (min-width: 0px) {
            display: none;
            position: absolute;
            background: #333;
            top: 103px;
            width: 292px;
    
            right: auto;
            left: 13px;
            
            @media (min-width: 320px) {
                right: 15px;
                left: auto;
            }
        }

        @media (min-width: 768px) {
            display: block;
            position: relative;
            background: #27262A;
            top: auto;
            width: auto;
            right: auto;
            left: auto;
        }

        @media (min-width: 1200px) {
            position: absolute;
            top: 41px;
            right: 23.5%;
            background: #010005;
        }
    }

    &__title {
        font-family: $lato-font;
        font-weight: bold;
        margin-left: 17px;
        margin-top: 60%;
        font-size: 24px;
        line-height: 16px;

        &__link {
            color: #8D81AC;
            text-decoration: none;

            &:hover {
                color: #FFF;
            }
        }

        @media (min-width: 0px) {
            display: none;
        }

        @media (min-width: 768px) {
            display: block;
        }
    }

    &__freetrial {
        @include content_general_centrify;
        @include header_text(14px, 14px, $header-download-color);
        width: 213px;
        height: 15px;
        margin-top: 32.5px;
        @include centered-content;
    }
}

.banner {
    &__title {
        @include header_text(48px, 48px, $header-title-color);
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    &__description {
        @include header_text(18px, 24px, $header-text-color);
        margin-top: 19px;
        margin-bottom: 0;
        margin-right: 15px;
        margin-left: 15px;
    }

    &__version {
        @include header_text(14px, 14px, $header-version-color);
        text-transform: uppercase;
        margin-top: 14px;
        margin-bottom: 300px;
    }

    &__downloadbtn {
        background: #8D81AC;
        border-radius: 40px;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        width: 290px;
        height: 45px;
        border: none;

        position: absolute;
        top: 575px;

        @media (min-width: 545px) {
            top: 550px;
        }

        @media (min-width: 768px) {
            top: 565px;

            &:hover {
                background: #FFFFFF;
                color: #8D81AC;
                cursor: pointer;
                border: 2px solid #8D81AC;
            }
        }

        @media (min-width: 1200px) {
            top: 545px;
        }
    }
}

.uppermenu {
    &__logo {
        width: 43px;
        height: 41px;
        @include content_general_centrify;

        &:hover .maincontent__logo {
            opacity: 1;
            cursor: pointer;
        }

        &:hover .maincontent__title__link {
            color: #FFF;
        }
    }

    &__purchasebtn {
        border: none;
        background: #8D81AC;
        border-radius: 40px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 15px;
        line-height: 15px;

        width: 119px;
        height: 37px;

        @media (min-width: 768px) {
            width: 145px;
            height: 38px;

            &:hover {
                background: #FFFFFF;
                color: #8D81AC;
                cursor: pointer;
                border: 2px solid #8D81AC;
            }
        }
    }

    &__burger {
        width: 26px;
        height: 21px;
        background: url("/src/images/Header/menu.png");
        
        &--active {
            margin-left: 1px;
            width: 25px;
            height: 25px;
            background: url("/src/images/Header/close.png");
        }
    }

    &__burger, &__burger--active {
        @media (min-width: 768px) {
            display: none;
        }
    }
}

.navmenu {
    &__list {
        list-style: none;

        @media (min-width: 0px) {
            padding-left: 0;
            padding-bottom: 14px;
            margin: 0;
        
            &-item {
                border-bottom: 3px solid #3B3B3B;
                margin-top: 30px;
                padding-bottom: 25px;
            }
            
            padding-bottom: 14px;

            .option1:focus::before, .option1:active::before {
                top: 15px;
            }

            .option2:focus::before, .option2:active::before {
                top: 100px;
            }

            .option3:focus::before, .option3:active::before {
                top: 185px;
            }

            .option4:focus::before, .option4:active::before {
                top: 269px;
            }
        }

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 16px;
            width: 535px;
            @include centered-content;

            &-item {
                border-bottom: none;
                margin-top: 0;
                padding-bottom: 0;
            }
        }

        &-link {
            text-decoration: none;
            
            @media (min-width: 0px) {
                @include header_text(26px, 26px, #FFFFFF);
                padding-left: 35px;
    
                &:focus::before, &:active::before
                {
                    @include menu_border;
                }
        
                &:active, &:focus {
                    color: #8D81AC;
                    padding-left: 38px;
                }
            }
            
            @media (min-width: 768px) {
                @include header_text(16px, 18px, #8D81AC);
                font-weight: bold;
    
                &:focus::before, &:active::before
                {
                    content: none;
                }
        
                &:active, &:focus, &:hover {
                    color: #FFFFFF;
                    padding-left: 35px;
                }
            }
        }
    }
}