//Revolutionary section

$svg-btn-text: #24292e;
$svg-btn-hover: #f3f4f6;
$svg-icon-color: #6a737d;
$button-border-color: #1b1f2326;
$rev-title-color: #635c73;
$rev-text-color: #323232;
$lato-font: "Lato", "Montserrat", "sans-serif";
