$white-color: #fff;
$lato-font: "Lato", sans-serif;

//Revolutionary section
$svg-btn-text: #24292e;
$svg-btn-hover: #f3f4f6;
$svg-icon-color: #6a737d;
$button-border-color: #1b1f2326;
$rev-title-color: #635c73;
$rev-text-color: #323232;
//Benefits section
$benefits-title-color: #8d81ac;
$benefits-list-title-color: #323232;
$benefits-list-text-color: #848e97;
